@model Book_View.Models.ViewModel.LoginModel
@{
    ViewData["Title"] = "Login Page";
}
<h2>Login</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Login</button>

    @if (ViewBag.Error != null)
    {
        <p class="text-danger">@ViewBag.Error</p>
    }
</form>
