.login-left {
    background: url('../Images/image.png') no-repeat center center;
    background-size: cover;
    height: 100%;
    position: relative;
}

.overlay-text {
    color: white;
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

    .overlay-text h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .overlay-text p {
        font-size: 1rem;
        margin-top: 20px;
    }
